header{
    width: 100%;
    height: 20%;
    background-color: #AC3520;
}

.logo{
    width: 100;
    height: 100;
    position: relative;
    left: 400;
    top: 20;
}

.header h4{
    color: white;
    font-size: 12px;
    font-family: "oppins", sans-serif;
    position: relative;
    left: 505;
    top: -75;
    
}

.header h1{
    color: white;
    font-size: 24px;
    font-family: "oppins", sans-serif;
    position: relative;
    left: 505;
    top: -90;
}

.header h3{
    color: white;
    font-size: 16px;
    font-family: "oppins", sans-serif;
    position: relative;
    left: 505;
    top: -110;
}

main h1{
    font-size: 36px;
    font-family: "Broadway";
    text-align: center;
}

main h2{
    font-size: 24px;
    font-family: "JasmineUPC";
    text-align: center;
}

form{
    position: absolute;
    left: 42%;
    top: 40%;
}

form input{
    flex: 1;
    padding:  3 10px;
    font-size: 18px;
    border-radius: 8px;
}

form img{
    width: 20px;
    height: 20px;
    position: relative;
    left: -280;
    top: 55;
}

.username{
    position: relative;
}

.password{
    position: relative;
    top:50;
    left: -246;
}

form button{
    position: relative;
    left: -520;
    top: 120;
    border-radius: 60px;
    padding: 10px 100px;
    background: orangered;
    border: 0;
}

form a{
    color: #000;
    position: absolute;
    top: 85;
    left: 130;
    font-size: 12;
    font-family: Tahoma;
}